<!--index.html-->
<!DOCTYPE html>
<html lang="en">
<body bgcolor="111111">
<head>

    <meta charset="UTF-8">
    <title>D2 69클랜</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<style>
		* {
			font-family: 'Nanum Gothic', sans-serif;
			font-family: 'Nanum Pen Script', cursive;
			font-family: 'Noto Sans KR', sans-serif;
		}
	</style>
	<div style="text-align:center">
		<H1 style="color:white;"> D2_69.GG</H1>
		<p style="color:white;">{{now}}</p>
		<img src="../static/players/웹_{{name}}.jpg" width="400">
		<br>
		{% if (name) %}
			<p style="color:white;">{{name}}</p>
		{% else %}
			<p style="color:white;">현재 Season 전체 순위</p>
		{% endif %}

		<form action="/next_season2">
			<select id="season" name="season">
				<option value="">Season을 선택하세요</option>
				<option value="seasonAll">All Season</option>
				<option value="season2">Season2</option>
				<option value="season3">Season3</option>
			</select>
			<button onclick="location.href='/next_season2'">검색</button>
			<input type="hidden" name="name" value={{name}}>
		</form>
		<form action="/next_cur_season_total">
			<button onclick="location.href='/next_cur_season_total'">Season3 전체 순위표</button>
			<input type="hidden" name="name" value={{name}}>
    	</form>
		<button onclick="location.href='/'">메인 화면 이동</button><form action="/">
	</div>
</head>
<body>

<br>
<br>
	<table class="table table-hover table-striped text-center" style=" width: 50%; border: 1px  solid #111114;;margin-left:auto;margin-right:auto;color:white;">
		<thead>
			<tr>
				<center>
				<th>전체 순위</th>
				<th>티어</th>
				<th>아이디</th>
				<th>티어점수</th>
				<th>MMR순위</th>
				<th>총 게임수</th>
				</center>
			</tr>
		</thead>
		<tbody>
			{% for i in data_list %}
			<tr>
				<td><center>{{ i[1] }}</center></td>
				<td><center>{{ i[2] }}</center></td>
				<td><center>{{ i[3] }}</center></td>
				<td><center>{{ i[4] }}</center></td>
				<td><center>{{ i[5] }}</center></td>]
				<td><center>{{ i[6] }}</center></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>